<a href="https://colab.research.google.com/github/kenmaran3685/CSC302-HW1/blob/main/CSC302_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
medals = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
medals.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [5]:
# (a) Find the size of the data frame. How many rows, how many columns?
# This is one way to find rows and columns but gives more information.
medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2351 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.8+ KB

In [21]:
# (a) Find the size of the data frame. How many rows, how many columns?
# This is another way to find rows and columns.
print(f"These are how many rows and columns there are:\n")
medals.shape

These are how many rows and columns there are:

(2394, 8)

In [20]:
# (b) Use the appropriate function to report the data types for all columns.
print(f"These are the different data types for all of the columns:\n")
medals.dtypes

These are the different data types for all of the columns:

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [25]:
# (c) Find how many unique cities matches were held at.
print(f"This is the number of uniques cities: {len(medals['Location'].unique())}")

This is the number of uniques cities: 23

In [42]:
# (d) Find how many medals the USA team won in total.

# len(medals['Medal'].unique()) example

us_medals = medals[medals['Nationality'] == 'USA']['Medal'].count()
print(f"The total number of medals won by the US olympic team was: {us_medals} medals.")

The total number of medals won by the US olympic team was: 638 medals.

In [41]:
# (e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
# For instance, the following example counts at how many locations each event
# was held. ) example = medals.groupby(by='Event')['Location'].count()

medals_by_nationality = medals.groupby('Nationality')['Medal'].count()
print(f"Here are the total number of medals won by each country:\n")
print(medals_by_nationality)

Here are the total number of medals won by each country:

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64